%h2
  Edit #{resource_name.to_s.humanize}

= form_for resource, as: resource_name, url: registration_path(resource_name), 
           html: { class: 'form-horizontal', method: :put } do |f|
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'text_field'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p Currently waiting confirmation for: #{resource.unconfirmed_email}
  
  .control-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password, class: 'text_field', autocomplete: :off
  
  .control-group
    = f.label :password_confirmation, class: 'control-label'
    .controls
      = f.password_field :password_confirmation, class: 'text_field', autocomplete: :off

  .control-group
    = f.label :current_password, class: 'control-label'
    .controls
      = f.password_field :current_password, class: 'text_field', autocomplete: :off

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), root_path, class: 'btn'
  /   = link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, 
  /             method: :delete, class: 'btn btn-danger'
  /#TODO: remove this functionality also from backend