= form_for @search, html: { class: 'form-horizontal' } do |f|
	%fieldset
		.well.well-white
			%h3 Find Calls with ...
			.control-group
				= f.label :q, 'Search query', class: 'control-label'
				.controls
					= f.text_field :q, class: 'input-xxlarge'

			= f.submit 'Search', class: 'btn btn-primary'

		.well.well-white
			%h3 With this date range ...
			.offset1
				.control-group.span3
					= f.label :from_date, 'From this date', class: 'control-label'
					.controls
						.input-append
							= f.text_field :from_date, class: 'input-medium', 'data-date-picker' => true
							%span.add-on
								%i.icon-calendar
						

				.control-group.span3
					= f.label :to_date, 'to this date', class: 'control-label'
					.controls
						.input-append
							= f.text_field :to_date, class: 'input-medium', 'data-date-picker' => true
							%span.add-on
								%i.icon-calendar

				.clearfix

		.well.well-white
			%h3 Narrow your results ...
			
			.control-group
				%legend.legend.span3
					Select business group

					= f.label :business_group_all, class: 'checkbox' do
						= f.check_box :business_group_all
						All

					= f.label :business_group_sales, class: 'checkbox' do
						= f.check_box :business_group_sales
						Sales

					= f.label :business_group_support, class: 'checkbox' do
						= f.check_box :business_group_support
						Support

					= f.label :business_group_marketing, class: 'checkbox' do
						= f.check_box :business_group_marketing
						Marketing

				%legend.legend.span2
					Select users

					= f.label :user1, class: 'checkbox' do
						= f.check_box :user1
						Jane Doe

					= f.label :user2, class: 'checkbox' do
						= f.check_box :business_group_user2
						Jack Johnson

					= f.label :user3, class: 'checkbox' do
						= f.check_box :business_group_user3
						Bob Dylan

					= f.label :user4, class: 'checkbox' do
						= f.check_box :user4
						Jimmy Hendrix

				%legend.legend.span2
					Select skills

					= f.label :skills_greeting, class: 'checkbox' do
						= f.check_box :skills_greeting
						Greeting

					= f.label :skills_rapore_building, class: 'checkbox' do
						= f.check_box :skills_rapore_building
						Rapore Building

					= f.label :skills_understanding, class: 'checkbox' do
						= f.check_box :skills_understanding
						Understanding

					= f.label :skills_patience, class: 'checkbox' do
						= f.check_box :skills_patience
						Patience

- if @search.q.present?
	.label.label-info.search-reult
		#{ pluralize(@calls.count, 'search result') } for '#{ @search.q }'

%table.table.table-striped{ 'data-data-table' => true }
	%thead
		%tr
			%th 
			%th= check_box_tag :search_result
			%th Guest Id
			%th Call Duration
			%th Start Date
			%th End Date
			%th Agent name
			%th Supervisor name
	%tbody
		- @calls.each do |call|
			%tr
				%td= link_to call.id, call_path(call)
				%td= check_box_tag :search_result
				%td 5678
				%td 15:00
				%td 15-1-2013
				%td 15-1-2013
				%td John Andreson
				%td Michale Stewart
             