.heading
  Column Selector
  %a.js-close{:href => "javascript:;"}
    %img{:alt => "", :height => "14", :src => "images/can-btn.png", :width => "12"}
#modal_content.column_selector_new
  .role-heading Checked columns are visible
  .role-scroll_selector
    .Mt
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tbody#js_columns_settings
        -for column in @users_table_columns
          -if column
            %tr.js-column-row
              %td
                %label
                  %input{:type => "checkbox", :value => column.id, :checked => column.isVisible}
                  %span=@columns_names[column.id]
                .arrow-control-wrappper
                  %a.js-move-up.arrow-up{:href => "javascript:;"}
                  %a.js-move-down.arrow-down{:href => "javascript:;"}
.pagination{:style=>"text-align: right;"}
  %span.pagination-settings-label Results displayed per page
  %select#js_users_per_page.pagination-settings-dropdown
    %option 10
    %option 25
    %option 50
    %option 100
.footer_column_selector
  %button.js-submit Apply
  %button.js-close Cancel
