= form_for @saved_search_tab do |f|
  - if @saved_search_tab.errors.any?
    #error_explanation
      %h2= "#{pluralize(@saved_search_tab.errors.count, "error")} prohibited this saved_search_tab from being saved:"
      %ul
        - @saved_search_tab.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :search_params
    = f.text_field :search_params
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
