%p#notice= notice

%p
  %b User:
  = @saved_search_tab.user_id
%p
  %b Search params:
  = @saved_search_tab.search_params
%p
  %b Name:
  = @saved_search_tab.name

= link_to 'Edit', edit_saved_search_tab_path(@saved_search_tab)
\|
= link_to 'Back', saved_search_tabs_path
