- model_class = Group
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @group.name
%p
  %strong= model_class.human_attribute_name(:role) + ':'
  %br
  = @group.role.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), groups_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_group_path(@group), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), group_path(@group), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
