.login-div
  .logo-cloud.fl
    %img{:alt => "logo", :src => "images/qc-logo.png"}/
  .welcome.fl Thanks
  .message-mail-cnfirm.fl
    In an few moments, you should recieve an email
    %br/
    that contains a link to reset your password.
    %br/
    When you click the link, you will be brought
    %br/
    to our password reset page
  .text-confirm-email Look for an email from: reset@qualityrocket.com
  .clr
  .rem
  .close-window.fl{:style =>"cursor:pointer;", :href => "javascript:window.close();", :onclick => "javascript:window.close();"} Close Window