/ .well.centered
/   %h2 Forgot your password?
/   = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
/     = devise_error_messages!
/     .control-group
/       .controls
/         = f.email_field :email, autofocus: true, placeholder: 'Please write your email here', class: 'input-xlarge'
/     .control-group
/       .controls
/         = f.submit 'Send', class: 'btn btn-primary'
/   = render 'devise/shared/links'
%title Forgot Password
.login-div
  .logo-cloud.fl
    %img{:alt => "logo", :src => "/images/qc-logo.png"}/
  .welcome.fl Forgot your password?
  .message-forgot-pssword.fl 
    No problem.  Just enter your email below.
    %br
    = content_tag :span, strip_tags(devise_error_messages!).gsub("&#x27;", "'").gsub("\n", "").squeeze(' ').strip, :id => "flash", :style => "font-family:'ubunturegular'; color: #E75E5E; font-size: 16px;}" unless devise_error_messages!.blank?
  / .message-forgot-pssword.fl
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forgot_password_form" }) do |f|
    .text-field
      = f.email_field :email, autofocus: true, placeholder: 'Email Address', :type => "text", :style => "padding-left:27px;"
  .clr
  .rem
  / Hidden submit button, to allow submit form on enter key
  .hidden-submit
    %input{:type => "submit", :tabindex => -1}
  .reset-pasword.fl{:style =>"cursor:pointer;", :href => "javascript:;", :onclick => "javascript:document.getElementById(\"forgot_password_form\").submit();"} Send Email

/ .login-div
/   = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forgot_password_form" }) do |f|
/     .logo-cloud.fl
/       %img{:alt => "logo", :src => "/images/qc-logo.png"}/
/     .welcome.fl 
/       Please, provide email to send password reset instructions
/       %br
/      = content_tag :span, strip_tags(devise_error_messages!).gsub("&#x27;", "'").gsub("\n", "").squeeze(' ').strip, :id => "flash", :style => "font-family:'ubunturegular'; color: #E75E5E; font-size: 16px;}" unless devise_error_messages!.blank?
/       %br
/     .text-field
/       %br
/       = f.email_field :email, autofocus: true, placeholder: 'Please write your email here', :type => "text"
/       %br
/     .clr
/     .login
/       / Hidden submit button, to allow submit form on enter key
/       .hidden-submit
/         %input{:type => "submit", :tabindex => -1}
/       .forgot-password.fl{:style =>"padding-top:30px;width: 300px;"}
/         %a{:href => "javascript:;", :onclick => "javascript:document.getElementById(\"forgot_password_form\").submit();"} Send
