.hero-unit
  %h1 Welcome to Quality Cloud
  %p
    A speech analytics application that has the capabilities to report business insight based on real-time or post call agent transactions . With the capability to trend business performance, quality assurance and compliance adherence.
  .pull-right
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-large'
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-danger btn-large'