/ #personal_tab
/   %ul.nav.nav-tabs
/     %li#users_tab.sub_menue
/       = link_to 'Users', "#users"
/     %li#groups_tab.sub_menue
/       = link_to 'Groups', "#groups"
/     %li#roles_tab.sub_menue
/       = link_to 'Roles', "#roles"
/   .content.right-content.fl

#personal_tab
  .top-navigation
    .nav-new
      #users_tab.sub_menue.nav-new-menu.fl
        = link_to 'Users', "#users"
      #groups_tab.sub_menue.nav-new-menu.fl
        = link_to 'Groups', "#groups"
      #roles_tab.sub_menue.nav-new-menu.fl
        = link_to 'Roles', "#roles"
    = render 'shared/user_info'
    
  .content.right-content.fl

- content_for :onload do
  personal_tab = new QualityCloud.Views.PersonalTab()
  new QualityCloud.Routers.Personal({personal_tab: personal_tab})