/ comment unit
.Mt10.name-date
  .video-date.fl{:style => "font-weight:bold;width: 130px;"}
    %span.video-user-pic
      %img{:src => "/admin/users/#{@call_note.get('user_id')}/user_avatar/thumb", :width => "30px"}/
    %strong{:style => "margin-top: 10px;"}= @call_note.get('agent_name')
  .video-notes-date.fr.Mr
    %span.Mr10#delete_call_note{:style => "cursor:pointer;min-width:41px;"}
      -if QualityCloud.current_user.id is @call_note.get('user_id')
        %a{:href => "javascript:;"} Delete
    %span= @call_note.get('datetime')
.Mr.comment-text = @call_note.get('note')
%div{:style => "width:100%; height:6px; border-bottom:1px solid #ebebeb; margin-top:10px;"}
/ comment-unit-ends
/ %img{:src => "/admin/users/#{@call_note.get('user_id')}/user_avatar/thumb", :style => "float: left;margin-right: 10px;margin-left: 10px;", :width => "30px"}/
/ .Mt10.name-date
/   .video-date.fl{:style => "font-weight:bold;"}= @call_note.get('agent_name')
/   .video-date.fr.Mr
/     %span.Mr10#delete_call_note{:style => "cursor:pointer;"}
/       -if QualityCloud.current_user.id is @call_note.get('user_id')
/         %a{:href => "#"} Delete
/     %span = @call_note.get('datetime')
/ .Mr.comment-text{:style => "margin-left: 10px;margin-right: 13px;"} = @call_note.get('note')
/ %div{:style => "width:100%; height:6px; border-bottom:1px solid #ebebeb; margin-top:10px;"}