.login-div
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign_in_form"}) do |f|
    .logo-cloud.fl
      %img{:alt => "logo", :src => "/images/qc-logo.png"}/
    .welcome.fl 
      Welcome, Please Sign in
      - flash.each do |name, msg|
        = content_tag :span, msg, :id => "flash_#{name}", :style => "font-family:'ubunturegular'; color: #E75E5E; font-size: 16px;}" if msg.is_a?(String)
    .text-field
      = f.email_field :email, autofocus: true, placeholder: 'Email', :type => "text"
      = f.password_field :password, placeholder: 'Password'
    .clr
    .rem
      = f.label :remember_me, for: 'checkbox', class: 'checkbox' do
        = f.check_box :remember_me, :id=> "checkbox", :style => "width:14px; height:14px; margin-top:-15px;"
        %p Remember me
    .login
      .forgot-password.fl
        / link_to "Forgot your password?", new_password_path(resource_name)
        %a{:href => "/users/password/new"} Forgot Password ?
      / Hidden submit button, to allow submit form on enter key
      .hidden-submit
        %input{:type => "submit", :tabindex => -1}
      %a{:href => "javascript:;", :onclick => "javascript:document.getElementById(\"sign_in_form\").submit();"}
        %img{:alt => "login", :height => "35", :src => "/images/login.png", :width => "90"}/




