#errors_container.ui-tooltip.alert.alert-error.js-alert-errors.hide-it{style:"max-width: 300px;margin: 10px;"}
  %h4 Errors!
  %p.errors.ui-tooltip{style: 'margin-top:0px;margin-bottom:0px;'}
= form_for @role do |f|
  .control-group.nw-gurp-role-top
    = f.label "Role Name", class: 'control-label'
    .nw-gurp-role-inpt
      = f.text_field :name, class: 'text_field'
  .new-role-option-wrapper
    .available-users-group.boxLayout
      .available-users.fl Options
      .w-100.fl
        .list-white.fl
          = f.check_box :supervisable, class: 'text_field'
          = f.label 'This role contains supervisor agents', class: 'control-label', for: "role_supervisable"
        .list-grey.fl
          = f.check_box :disabled, class: 'text_field'
          = f.label 'Disable role', class: 'control-label', for: "role_disabled"
        %br
        / Hidden submit button, to allow submit form on enter key
        .hidden-submit
          %input{:type => "submit", :tabindex => -1}






