%p#notice= notice

%p
  %b Call:
  = @call_note.call_id
%p
  %b User:
  = @call_note.user_id
%p
  %b Note:
  = @call_note.note

= link_to 'Edit', edit_call_note_path(@call_note)
\|
= link_to 'Back', call_notes_path
