/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require jquery-ui-timepicker-addon
 *= require dragtable
 *= require datepicker
 *= require dataTables/jquery.dataTables.bootstrap
 *= dataTables/extras/ColReorder
 *= require_tree .
 *= require chosen
 *= require mediaelement_rails
 *= require mediaelement_rails/mejs-skins
 *= require style
 *= require custom
 *= require ajax-loader
 */
.subnav {
	margin: -20px 0 20px 0;
	background: #DFDFDF none;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 10px 0 10px 0;
}

.subnav .nav {
	margin-bottom: 0;
}

.navbar-search .icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
}

.navbar-search input.search-query {
	padding-left: 29px;
}

.widget .widget-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9));
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

.stacked {
	position: relative;
}

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
}

.widget .widget-header + .widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-header {
	padding: 0 10px 0 10px;
	margin-top: 20px;
}

.widget .widget-header h3 {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
}

.widget-header [class*="icon"] {
	font-size: 20px;
}

.widget .widget-content {
	padding: 20px 15px 15px;
	background: white;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.no-space[class*="span"] {
    margin-left: 0;
}

.box {
	min-height: 20px;
	min-width: 140px;
	float: left;
	padding: 5px;
	margin: 0 5px 20px 0;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);	
	min-height: 128px;
}

.chart {
	height: 450px;
}

.box h3 {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
}

legend.legend {
	border: 1px solid #E5E5E5;
	padding: 10px;
}

legend.legend .input-append .add-on {
	margin-top: 5px;
}

.well.well-white {
	background-color: white;
}

.label.search-reult {
	width: 100%;
	height: 25px;
	font-size: 16px;
	line-height: 30px;
}

.dataTables_wrapper {
	margin-top: 20px;
}
.drag-bar {
  background-image: url("drag-bar.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 5px;
  text-align: center;
  width: 100%;
  cursor: N-resize;
}

.fl {
  float: left;
}
