// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#edit_role_modal, #new_role_modal, .columnSelector
  .heading
    padding-left: 22px
    .close,.js-close
      padding-top: 0
  .footer_column_selector
    padding-right: 22px
.columnSelector
  .role-heading
    padding-left: 10px
  a.arrow-up, a.arrow-down
    vertical-align: middle
  .role-scroll_selector
    table
      tr
        td
          border-left: 0
  .footer_column_selector
    margin-top: 0
  .pagination
    padding-bottom: 15px

.Mt:empty
  display: none