@charset "utf-8";

/* CSS Document */

body { overflow-x:hidden; position:relative; margin:0; padding:0; font-size:16px; background:#f7f7f7; font-family: 'ubunturegular'; color:#666666; }

@font-face { font-family: 'dinregular'; src: url('../font/din_regular-webfont.eot'); src: url('../font/din_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/din_regular-webfont.woff') format('woff'), url('../font/din_regular-webfont.ttf') format('truetype'), url('../font/din_regular-webfont.svg#dinregular') format('svg'); font-weight: normal; font-style: normal; }

.clr { clear:both; }

@font-face { font-family: 'ubuntubold'; src: url('../font/ubuntu-b-webfont.eot'); src: url('../font/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-b-webfont.woff') format('woff'), url('../font/ubuntu-b-webfont.ttf') format('truetype'), url('../font/ubuntu-b-webfont.svg#ubuntubold') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubuntubold_italic'; src: url('../font/ubuntu-bi-webfont.eot'); src: url('../font/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-bi-webfont.woff') format('woff'), url('../font/ubuntu-bi-webfont.ttf') format('truetype'), url('../font/ubuntu-bi-webfont.svg#ubuntubold_italic') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubuntulight'; src: url('../font/ubuntu-l-webfont.eot'); src: url('../font/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'), url('ubuntu-l-webfont.woff') format('woff'), url('../font/ubuntu-l-webfont.ttf') format('truetype'), url('../font/ubuntu-l-webfont.svg#ubuntulight') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubuntulight_italic'; src: url('../font/ubuntu-li-webfont.eot'); src: url('../font/ubuntu-li-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-li-webfont.woff') format('woff'), url('../font/ubuntu-li-webfont.ttf') format('truetype'), url('../font/ubuntu-li-webfont.svg#ubuntulight_italic') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubuntumedium'; src: url('../font/ubuntu-m-webfont.eot'); src: url('../font/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-m-webfont.woff') format('woff'), url('../font/ubuntu-m-webfont.ttf') format('truetype'), url('../font/ubuntu-m-webfont.svg#ubuntumedium') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'dinregular'; src: url('../font/din_bold-webfont.eot'); src: url('../font/din_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/din_bold-webfont.woff') format('woff'), url('../font/din_bold-webfont.ttf') format('truetype'), url('../font/din_bold-webfont.svg#dinregular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'dinlight'; src: url('../font/din_light-webfont.eot'); src: url('../font/din_light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/din_light-webfont.woff') format('woff'), url('../font/din_light-webfont.ttf') format('truetype'), url('../font/din_light-webfont.svg#dinlight') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'dinmedium'; src: url('../font/din_medium-webfont.eot'); src: url('../font/din_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../font/din_medium-webfont.woff') format('woff'), url('../font/din_medium-webfont.ttf') format('truetype'), url('../font/din_medium-webfont.svg#dinmedium') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubuntumedium_italic'; src: url('../font/ubuntu-mi-webfont.eot'); src: url('../font/ubuntu-mi-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-mi-webfont.woff') format('woff'), url('../font/ubuntu-mi-webfont.ttf') format('truetype'), url('../font/ubuntu-mi-webfont.svg#ubuntumedium_italic') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubunturegular'; src: url('../font/ubuntu-r-webfont.eot'); src: url('../font/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-r-webfont.woff') format('woff'), url('../font/ubuntu-r-webfont.ttf') format('truetype'), url('../font/ubuntu-r-webfont.svg#ubunturegular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ubuntuitalic'; src: url('../font/ubuntu-ri-webfont.eot'); src: url('../font/ubuntu-ri-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ubuntu-ri-webfont.woff') format('woff'), url('../font/ubuntu-ri-webfont.ttf') format('truetype'), url('../font/ubuntu-ri-webfont.svg#ubuntuitalic') format('svg'); font-weight: normal; font-style: normal; }

.fl { float: left; }

.fr { float: right }

.clr { clear:both; }

img, a { border:none; outline:none; }

h1, h2, h3, h4, h5, h6 { font-weight:normal; line-height:normal; }

.login-div { position:absolute; width:412px; height:480px; top:50%; left:50%; margin:60px 0 0 -206px; background-color:#FFFFFF; }

.login-div input[type="text"] { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #D6D6D6; color: #535353; font-size: 15px; height: 43px; margin: 12px 0 0 14px; padding: 0 2px; width: 296px; }

.login-div input[type="checkbox"] { margin-left: 54px; margin-right: 10px; margin-top: 76px !important; float:left; }

.rem p { float:left; padding-top: 57px; }

.rem { float:left; }

.login-div input[type="text"]:focus { box-shadow:0 0 3px 0px #f87979; border:1px solid #e75e5e; }

.logo-cloud { margin:40px 0 0 70px; width:273px; height:83px; }

.welcome { font-family: 'dinregular'; width:230px; height:24px; color:#121212; margin:38px 0 0 91px; font-size:20px; text-align:center; }

.text-field { float: left; height: 58px; margin:13px 0 0 36px; width: 330px; position:relative; z-index:999; }

.remeber-me { width:330px; height:16px; margin:15px 0 0 45px; color:#535353; }

.login { width:330px; height:35px; margin:5px 0 0 23px; text-align:right; color:#535353; float:left; line-height:35px; }

.close-window { width:149px; height:35px; margin:49px 0 0 125px; text-align:center; color:#ffffff; float:left; ine-height:35px; background-color:#0c3643; font-family: 'ubuntubold'; font-size:14px; line-height:35px; }

.reset-pasword { width:149px; height:35px; margin:100px 0 0 125px; text-align:center; color:#ffffff; float:left; ine-height:35px; background-color:#0c3643; font-family: 'ubuntubold'; font-size:14px; line-height:35px; }

.login img:hover { opacity:0.9; }

a { text-decoration:none; color:#1c1c1c; }

.forgot-password { width:136px; height:35px; margin:100px 0 0 28px; text-align:center; color:#ffffff; float:left; ine-height:35px; background-color:#0c3643; font-family: 'ubuntubold'; font-size:14px; line-height:35px; }

.hint { background: url("../images/username.png") no-repeat scroll 0 0 transparent; color: #FFFFFF; font-size: 19px; height: 56px; left: 375px; padding:13px 0 0 20px; position: absolute; top: 242px; width: 159px; z-index: 10; }

.hint .btn { border:none; background:none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000; }

/*login page ends*/

.top { width:100%; height:59px; background-image:url(../images/top-bg.png); background-repeat:repeat-x; }

.wrapper { width:100%; height:800px; margin:0 auto; }

.logo-banner { width:96%; margin:auto; text-align:left; padding-top:5px; }

.left-panel { width: 225px; float:left; }

.right-panel { margin:0 0 0 229px; float:none; /*height:800px;*/ }

.top-navigation { width:100%; height:42px; }

.nav-new { float: left; height: 42px; }

.nav-new-menu { list-style: none outside none; height:42px; width:125px; background-color:#f7f7f7; float:left; line-height:42px; border:1px solid #ebebeb; text-align:center; font-family: 'ubunturegular'; font-size:12px; padding: 0 0 0 10px; }

.nav-new-menu:hover, .newTab .nav-new-menu.active, .newTab .nav-new-menu .active a { color:#857b77; background-color:#ffffff; border-bottom:none; color:#f15b29 }

.nav-new-menu a:hover { color:#f15b29 }

a.addNew { margin:15px 0 }

.welcome-right { width:245px; height:42px; float:right; }

.icon { width:26px; height:24px; margin:10px 20px 0 15px; }

.wecometext { height:42px; margin:0 20px 0 0; line-height:42px; font-family: 'ubunturegular'; font-size:13px; }

.logout-text { width:55px; height:42px; line-height:42px; text-align:center; font-family: 'ubunturegular'; font-size:13px; }

.logout-text:hover { background-color:#ffffff; font-weight:bold; }

.right-content { width:100%; background-color:#FFFFFF; }

.right-content-search { width:100%; background-color:#FFFFFF; background-image:url(../images/Watermark.png); background-position:center; background-repeat:no-repeat; }

.select-group { margin:15px 0 0 19px; width:98%; height:29px; line-height:29px; margin-left: 11px }

.select_text { padding-right:15px; font-family: 'ubunturegular'; font-size:12px; color:#333333; }

.Primary_text { font-family: 'ubunturegular'; font-size:12px; padding-right:15px; color:#333333; }

.select-menu { width:304px; height:29px; line-height:29px; margin-right:15px; }

.drop-down { width:304px; height:28px; color:#333333; font-size:12px; border:1px solid #d9d9d9; }

.three_buttons { width:100px; height:15px; text-align:center; border-right:2px solid #333333; font-size:12px; color:#333333; font-family: 'ubunturegular'; font-size:10px; font-weight:bold; line-height:15px; margin-top:8px; }

.three_buttons:hover { background-color:#FFFFFF; }

.users { width:98%; margin:15px 0 12px 1%; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; }

.available-users-group { width:47%; border:1px solid #d9d9d9; overflow: hidden; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; }

.assigned-users-group { width:47%; border:1px solid #d9d9d9; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; }

.content-change { width:5%; height:100%; margin:4.5% 0 0 0; }

.exchnage-butt { width:28px; height:121px; margin: 57px 1% 0 1%; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; }

.change-icons { width:28px; height:28px; margin-bottom:3px; }

.available-users { width: 100%; height:34px; background-color:#f7f7f7; text-align:left; padding-left:10px; color:#333333; line-height:34px; font-size:12px; border:1px solid #d9d9d9; font-family: 'ubuntubold'; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; }

.scroll-list { width:100%; height:200px; overflow-y:scroll; overflow-x:hidden; }

.list-white { width: 100%; height:34px; text-align:left; padding-left:10px; color:#333333; line-height:34px; font-size:10px; border:1px solid #d9d9d9; font-family: 'ubunturegular'; }

.list-grey { width: 100%; height:34px; background-color:#fcfcfc; text-align:left; padding-left:10px; color:#333333; line-height:34px; font-size:10px; border:1px solid #d9d9d9; font-family: 'ubunturegular'; }

.left-buttons { width: 100%; height:121px; margin-top:1px; clear: both; overflow: hidden;}

.side_button { width: 100%; height:40px; border-bottom: 1px solid #d9d9d9; font-family: 'ubuntubold'; line-height:40px; font-size:15px; text-align: left; text-indent: 50px; }

.side_button a { text-align: left; display: block;}

.side_button:hover { display:block; background-color:#f15b29; color:#FFFFFF; }

.side_button:hover a { color:#fff; }

.butttons { width:202px; height:40px; padding:10px 0 0 0; }

.bottom_buttton { width:75px; margin-left:10px; }

.personal-users { width:100%; float:left; }

.personal-users table { width: 100%; float:left; border-collapse: collapse; }

.main { height:650px; overflow-x: hidden; overflow-y: scroll; width:100%; float:left }

.drop1 { width:754px !important; }

.personal-users table tr td { font-size: 10px; height: 30px; line-height: 30px; text-align: center; text-transform: capitalize; border-left: 1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; color:#323232; font-family: 'ubunturegular'; color:#323232; }

.personal-users table tr:nth-child(1n) { background: none repeat scroll 0 0 #F2F2F2; }

.personal-users table tr:nth-child(2n) { background: none repeat scroll 0 0 #ffffff; }

.scroll-list1 { float: right; min-height: 596px; overflow-x: hidden; overflow-y: scroll; }

/*sorting css*/

.personal-users table tr td.drop { background: url("../images/drop.jpg") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; padding: 0 5px; background-color:#F2F2F2 !important; background-color: #F2F2F2 !important; }

.personal-users table tr td.drop-up { background:url("../images/drop--up.png") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; padding: 0 5px; border:none !important; background-color:#F2F2F2 !important; background-color: #F2F2F2 !important; }

.personal-users table tr td.drop-sortable { background:url("../images/drop-sortable.png") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; padding: 0 5px; border:none !important; background-color:#F2F2F2 !important; background-color: #F2F2F2 !important; }

.personal-users table tr td.drop-non-sortable { background:url("../images/drop-non-sortable.png") no-repeat scroll 92% 16px transparent; font-family: arial; font-size: 11px; font-weight: bold; padding: 0 5px; border:none !important; background-color:#F2F2F2 !important; background-color: #F2F2F2 !important; }

.personal-users table tr td.drop_last { background: url("../images/drop.jpg") no-repeat scroll 0px 10px transparent; font-family: arial; font-size: 11px; font-weight: bold; padding: 0 5px; border:none !important; background-color:#F2F2F2 !important; background-position: 87px 13px; }

/*sorting css  Ends*/


.dashLeft { width:100%; float:left; border:1px solid #ebebeb; }

.dashLeft h2 { background:#f7f7f7; height:30px; line-height:25px; padding-left:15px; margin:0px; font-family:'ubuntubold'; font-size:15px; }

.dashLeft ul { list-style:none; padding:0px; margin:0px; }

.dashLeft ul li { height:25px; line-height: 35px; padding: 6px 0; }

.dashLeft ul li img { float:left; padding:22px 10px 0; }

.dashLeft ul li p { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#303030; border-bottom:1px solid #ebebeb; }

.dashLeft1 { width:76%; float:left; border:1px solid #ebebeb; margin-top: 10px; }

.dashLeft1 h2 { background:#f7f7f7; height:30px; line-height:25px; padding-left:15px; margin:0px; font-family:'ubuntubold'; font-size:15px; }

.dashLeft1 img { text-align:center; padding: 20px; }

.dashRight { width:240px; float:right; border:1px solid #ebebeb; }

.dashRight .commen { margin-bottom:10px; border-bottom:1px solid #ebebeb; }

.dashRight .commen h2 { background:#f7f7f7; height:30px; line-height:25px; padding-left:15px; margin:0px; font-family:'ubuntubold'; font-size:15px; }

.dashRight .commen img { padding: 10px 40px; }

.dashRight .callType { }

.dashRight .callType h2 { background:#f7f7f7; height:30px; line-height:25px; padding-left:15px; margin:0px; font-family:'ubuntubold'; font-size:15px; }

.dashRight .callType img { padding: 10px 20px; }

.scroll { float: left; height: 330px; overflow-x: hidden; overflow-y: scroll; width: 76%; }

.searchInt { border: 1px solid #d9d9d9; float: left; height: 30px; line-height: 30px; margin: 0 10px 0 0; padding: 0; width: 434px; }

.bigSrch { width: 45% !important; }

.searchInt_layout { border: 1px solid #d9d9d9; float: left; height: 30px; line-height: 30px; margin: 0 10px; padding: 0; width: 434px; }

.bigSrch .srh { width: 92% !important; }

.searchInt .srh { background: none repeat scroll 0 0 transparent; border: medium none; float: left; height: 30px; line-height: 30px; padding: 0 5px; width: 400px; }

.searchInt .sbtn { float: left; padding: 7px 0; }

.main1 { float: left; overflow: scroll; width: 100%; }

.drop_last1 { font-family: arial; font-size: 11px; font-weight: bold; padding: 0 5px; border:none !important; background-color:#F2F2F2 !important; background-position: 87px 13px; }

.side-nav { float: left; }

.side-nav ul { list-style:none; margin:10px 0 0 0; }

.side-nav ul li { float:left; background:url(../images/side-nav.png) no-repeat right center; display:block; font-family: 'ubunturegular'; font-size:10px; line-height:10px; }

.side-nav ul li a { color:#2e78cc; padding: 0 19px; }

.side-nav ul li.bg { background:none; }

.side-nav ul li a:hover { text-decoration:underline; }

.manual { background:url(../images/manual-bg.png) no-repeat left bottom; padding: 0 0 1px; }

.manual .manuSearch { width: 85%; height:25px; border: 1px solid #D9D9D9; background:#fff; margin:20px 15px 10px; }

.manual .manuSearch .manu { width: 166px; padding:0 10px; height:23px; line-height:23px; font-family: 'ubuntubold'; font-size:12px; float:left; background:none; border:none; }

.manual .manuSearch .mbtn { float:left; cursor:pointer; padding: 8px 0; }

.manual .date { margin:10px 15px; }

.manual .date label { float:left; padding:0 10px 0 0; }

.manual .date .slwidth { border: 1px solid #D9D9D9; height: 25px; width: 75%; }

.duration { width: 85%; height:25px; border: 1px solid #D9D9D9; background:#fff; margin:10px 15px; }

.duration .int1 { width: 166px; padding:0 10px; height:23px; line-height:23px; font-family: 'ubunturegular'; font-size:12px; float:left; background:none; border:none; color:#aeaeae; }

.height { height:800px; }

.videoPopup { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 5px #000000; left: 300px; padding: 0 0 30px; position: absolute; top: 120px; width: 600px; }

.videoPopup-center { background:#FFFFFF; box-shadow: 0 0 5px #000000; height:244px; width: 918px; top:30%; position:fixed; left:52%; margin-left:-450px; }

.heading { height:40px; background:#f7f7f7; border-bottom:1px solid #dedddd; padding: 0 25px; line-height:40px; }

.heading-vid { height:45px; border-bottom:1px solid #dedddd; padding: 0; }

.heading-vid a { margin-right:15px; }

.video-left { width:314px; height:244px; }

.heading h2 { float:left; font-family: 'ubuntubold'; font-size:14px; }

.heading a { float:right; padding: 12px 0 0; }

.mp4 { text-align: -moz-center; width: 100%; }

.mp4-small { width:300px; height:200px; }

.heading1 { height: 44px; background:#f7f7f7; border-bottom: 1px solid #DEDDDD; padding: 0 0 0 25px; }

.heading1 h2 { float:left; font-family: 'ubuntubold'; font-size:14px; height:40px; line-height:40px; }

.heading1 .brdcum { float:right; }

.heading1 .brdcum a { border-left: 1px solid #DEDDDD; float: left; height: 40px; line-height: 40px; padding:0 20px; text-align:center; }

.heading1 .brdcum a:hover { background-color:#fff; }

.boxLayout { width:100% !important; }

.boxes { width:30%; margin-right: 35px; }

.mar { margin-right:0px !important; }

.boxes .exchnage-butt { margin:20px 0 0 100px; width:200px; height:auto; }

.boxes .exchnage-butt .change-icons { float:left; margin-right:3px; }

.boxes .content-change { height:auto; }

.boxes .available-users { width:100%; }

.videoPopup .heading h2, .videoPopup .heading1 h2 { line-height:inherit !important; }

.newTab { width:500px !important; }

.newTab .nav-new-menu { padding:0 15px !important; }

.newTab .nav-new-menu span { background:url(../images/cancle-btn1.jpg) no-repeat right center; width:6px; height:6px; display:block; float:left; margin:17px 10px; }

.newTab .nav-new-menu .pin { background:url(../images/pin.png) no-repeat right center; width:10px; height:10px; display:block; float:left; margin:17px 0 0 10px; }

.newTab .nav-new-menu span:hover, .newTab .nav-new-menu span.active { background:url(../images/cancle-btn2.jpg) no-repeat; width:12px; height:12px; margin:15px 7px; }

.newTab .nav-new-menu a { float:left }

.tab-name { width:43px; height:20px; margin-top:11px; }

/*pop-up*/



.videoPopup-new { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 5px #000000; left:50%; position: absolute; top: 120px; width:596px; margin-left:-298px; }

.heading_new { border-bottom:1px solid #dedddd; padding: 0 25px; height:36px; font-family: 'ubuntubold'; font-size:14px; color:#323232; background-color:#f7f7f7; padding:0 0 0 24px; line-height:36px; }

.Mt { margin-top:13px; }

.Mt10 { margin-top:10px; }

.Mr { margin-right:13px; }

.agent-ID { margin: 11px 0 11px 25px; height:23px; padding-left:10px; }

.popup-left-panel { width:236px; height:516px; margin-left:24px; }

.update-my-profile-left-panel { width:236px; margin-left:24px; margin-top:25px; }

.update-my-profile-popup-righr-panel { width:290px; margin-right:24px; margin-left:20px; margin-top:25px; }

.pic-agent { width:216px; height:214px; margin:auto; background-image:url(../images/agent-pic.png); background-repeat:no-repeat; }

.roles { width:216px; height:222px; margin: 15px auto 0 auto; border:1px solid #ebebeb; }

.role-scroll { width:216px; height:185px; overflow:auto; }

.role-heading { height:36px; border-bottom:1px solid #dedddd; font-family: 'ubuntubold'; font-size:14px; color:#323232; background-color:#f7f7f7; padding:0 0 0 16px; line-height:36px; }

.popup-righr-panel { width:290px; height:516px; margin-right:24px; margin-left:20px; }

.popup-bottom { width:594px; height:77px; margin-top:10px; font-family: 'ubuntubold'; font-size:14px; color:#323232; background-color:#f7f7f7; line-height:36px; border:1px solid #ebebeb; }

.select_one { font-family: 'ubuntubold_italic'; font-size:10px; margin-left:5px; }

.grouprole-inherit { font-family: 'ubunturegular'; font-size:10px; }

.role-scroll table tr td { font-size: 10px; height: 30px; line-height: 30px; text-align:left; text-transform: capitalize; border-left:1px solid #ebebeb; border-bottom:1px solid #ebebeb; color:#323232; font-family: 'ubunturegular'; color:#323232; }

.role-scroll table tr:nth-child(2n) { background: none repeat scroll 0 0 #F2F2F2; }

.field { width:161px; height:24px; margin-left:8px; font-family: 'ubunturegular'; color:#323232; font-size:12px; }

.form_name { width:121px; text-align:right; font-family: 'ubunturegular'; color:#323232; font-size:12px; height:24px; line-height:24px; }

.top_row { margin:0 0 15px 0; width:290px; height:24px; }

.Mb14 { margin-bottom:14px; }

.Mt26 { margin-top:26px; }

.Mr25 { margin-right:25px; }

.Mr10 { margin-right:10px; }

.Ml { margin-left:10px; }

.bottom-button { width:100px; height:37px; margin-top:20px; border:1px solid #d9d9d9; line-height:37px; text-align:center; font-family: 'ubuntubold'; font-size:14px; }

.bottom-button:hover { display:block; background-color:#FFf; }

.comment-box { height:145px; overflow-y:auto; margin:auto; overflow-x:hidden; }

.video-date { font-family: 'ubunturegular'; color:#323232; font-size:12px; margin-left:13px; border-right:1px solid #ebebeb; width:100px; }

.video-notes-date { font-family: 'ubunturegular'; color:#323232; font-size:12px; margin-left:13px; width:100px; }

.comment-text { margin:auto; width:493px; height:45px; font-family: 'ubunturegular'; color:#323232; font-size:12px }

.commt_butt { border:1px solid #ebebeb; font-family: 'ubunturegular'; color:#323232; font-size:12px; height:25px; line-height:25px; width:60px; text-align:center; background-color:f7f7f7; }

.commt_butt:hover { display:block; background-color:#FFFFFF; box-shadow: 2px 2px 2px #888888; }

/*	om css start  */

.bg .brdcum a { font-size:12px; background:#f6f6f6; border-left:1px solid #d9d9d9; font-family:"ubuntubold"; color:#323232; }

.bg { background:none; height:32px; }

.bg .brdcum a { height:32px; line-height:32px; }

.temTitel { height:25px; line-height:25px; font-size:12px; color:#000; }

.temTitel h5 { float:left; width:365px; margin:0px; line-height:25px; }

.temTitel .temIcon { float:right; margin:7px 0 0 0; }

.temTitel .temIcon img { float:left; margin:0 10px 0 0; }

.comment-box h4 { height:30px; line-height:30px; background:#e4e4e4; padding:0 0 0 10px; font-size:10px; margin:0px; color:#585858; }

.titelSec { padding:0px; }

.titelLeft { width:400px; float:left; border-right:1px solid #ebebeb; }

.titelLeft ul { padding:0px; margin:0px; }

.titelLeft ul li { min-height:30px; padding:0 0 0 26px; font-size:10px; font-style:italic; background:url(../images/note-icon.jpg) no-repeat 8px 10px; color:#585858; border-bottom:1px solid #ebebeb; line-height:30px; list-style:none; }

.titelLeft ul li.gap { border:none; }

.titelRigt ul { padding:0px; list-style:none; margin:0px; }

.titelRigt ul li { border-bottom:1px solid #ebebeb; line-height:30px; height:30px; }

.titelRigt ul li .chekBox { width:96px; float:right; }

.titelRigt ul li .chekBox .chk { float:left; margin:7px 5px 0 0; }

.titelRigt ul li .chekBox label { float:left; display:block; font-family:"ubuntubold"; font-size:10px; color:#323232; margin:0 7px 0 0; text-transform:uppercase; }

.titelRigt ul li .bar { font-family:"ubuntubold"; font-size:10px; color:#323232; margin:0px; float:right; line-height:26px; }

.titelRigt ul li .bar a { background: url("../images/without-dot.png") no-repeat bottom; display: inline-block; text-align: center; width: 24px; }

.titelRigt ul li .bar a:hover { background: url("../images/with-dot.png") no-repeat bottom; }

.titelRigt ul li .bar a:focus { background: url("../images/with-dot.png") no-repeat bottom; }

.titelRigt ul li .arw { font-family:"ubuntubold"; font-size:10px; color:#323232; background:url(../images/arw1.jpg) no-repeat right center; width:93px; float:right; margin:0 3px 0 0; }

.titelRigt ul li.brd { border:none !important; }

.scrol { height:180px; }

.videobot { height:237px; }

.popup { position:absolute; top:100px; left:200px; }

.videoPopup2 { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 5px #000000; left: 50%; margin: 0 0 0 -270px; padding: 0 0 30px; position: absolute; top: 20%; width: 600px; }

.videoPopup-center2 { background: none repeat scroll 0 0 #FFFFFF; float: left; margin-left: 19px; width: 100%; box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; -mz-box-sizing:border-box; -khtml-box-sizing:border-box; }

/*.videoBottom { height:200px; border:1px solid #dedddd; margin: 0 25px 0 5px; width:570px; padding-left:5px; }
.right-vid { width:555px; height:244px; .name-date { width:530px; height:20px; } } */
.name-date { height:1px; }

.videoBottom { border:1px solid #dedddd; margin: 0 25px 0 5px; padding-left:5px; }

.right-vid { height:244px; }

/*.comment-bottom-vid { width:580px; height:25px; margin:10px 0 0 5px; }*/

.comment-bottom-vid { height: 25px; }

/*.titelRigt { width:150px; float:left; }*/
.titelRigt { width:150px; float:right; }

/*coloumn-selector-css*/


.columnSelector { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 5px #000000; left: 50%; margin-left: -120px; padding: 0; position: absolute; top: 65px; width: 305px; }

.column_selector_new { width:282px; margin: 11px auto 0 auto; border:1px solid #ebebeb; }

.role-scroll_selector { width:282px; max-height:381px; overflow:auto; }

.role-scroll_selector table tr td { font-size: 10px; height: 30px; line-height: 30px; text-align:left; text-transform: capitalize; border-left:1px solid #ebebeb; border-bottom:1px solid #ebebeb; color:#323232; font-family: 'ubunturegular'; color:#323232; }

.role-scroll_selector table tr:nth-child(2n) { background: none repeat scroll 0 0 #F2F2F2; }

.heading_column_selector { height:40px; background:#f7f7f7; border-bottom:1px solid #dedddd; padding: 0 25px; }

.footer_column_selector { height:75px; background:#f7f7f7; border-bottom:1px solid #dedddd; padding: 0 25px; line-height:40px; margin-top:13px; float: left; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; }

.footer_column_selector p { font-family: 'ubunturegular'; color:#323232; font-size:14px; }

.role-scroll_selector input { float: left; margin: 10px; }

.arrow-control-wrappper { float: right; margin-right: 10px; }

.arrow-control-wrappper a { display: inline-block; height: 17px; width: 21px; font-size:0; }

.arrow-up { background:url(../images/arrow-top.png) no-repeat; }

.arrow-down { background:url(../images/arrow-bottom.png) no-repeat; }

.personal-roll { background: #FFFFFF; box-shadow: 0 0 5px #000000; left: 50%; margin-left: -210px; padding: 0; position: absolute; top: 65px; width: 445px; }

.footer_column_selector button { cursor:pointer; background: none repeat scroll 0 0 #FEFEFE; border: 1px solid Gainsboro; float: right; margin: 17px 0 0 10px; padding: 10px; }

.create-role-wrapper { margin: 0 auto; padding: 20px 0; width: 300px; }

.create-role-wrapper h2 { font-size: 20px; margin: 0; padding: 0; }

.create-role-wrapper > input[type=text] { border: 1px solid #CFCFCF; height: 25px; line-height: 25px; margin: 10px 0; width: 100%; }

.create-role-wrapper > label { display: inline-block; font-size: 14px; }

.message-signout { font-family: 'dinregular'; width:225px; height:24px; color:#121212; margin:10px 0 0 93px; font-size:20px; text-align:center; color:#FF3300 }

.message-forgot-pssword { font-family: 'dinregular'; width:300px; height:15px; color:#121212; margin:20px 0 38px 53px; font-size:12.5px; text-align:center; color:#121212; }

.message-mail-cnfirm { font-family: 'ubunturegular'; width:300px; color:#121212; margin:20px 0 38px 53px; font-size:12.5px; text-align:center; color:#121212; line-height:13px; }

.text-confirm-email { font-family: 'ubunturegular'; color:#121212; text-align:center; font-size:12.5px; float: left; height:20px; margin:13px 0 0 36px; width: 330px; position:relative; z-index:999; }

.user-delete-role { font-family:"ubuntubold"; font-size:14px; color:#121212; text-align:left; }

.user-delete-role-text { font-family: 'ubunturegular'; font-size:12px; color:#121212; margin-top:11px; height:28px; line-height:28px; }

.Delete-role-wrapper { margin: 0 auto; padding: 10px 0; width:400px; }

.nw-gurp-role-top { float:left; width:100%; clear:both; margin: 20px 0 0 0; }

.nw-gurp-role-top label { max-width: 100px; display: inline-block; float: left; line-height: 26px; }

.nw-gurp-role-top input[type=text] { width:100%; clear:both; padding:0 5px; height: 28px; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; }

.nw-gurp-role-inpt { float: right; width: 300px; }

.w-100 { width:100%; }

.new-role-option-wrapper { float: left; margin: 30px 0 20px 0; width: 100%; }

.new-role-option-wrapper label > span > input { float:left; margin: 10px 10px 0 0px; }

#grid-hdr td { border-right: 1px solid #d9d9d9; border-bottom:0; line-height: 35px; }

.nav-new-menu img { margin:  0 5px 0 0px; }

.videobot .bg { height:44px; }

.videobot .brdcum a { height:44px; line-height:44px; }

.note-btn { margin:  10px 10px 0 0; }

.video-cmt-box { float: none; margin: 15 0 0 320px; }

.video-cmt-box input[type=text], #video-cmt-box input[type=text] { width:97%; }

#video-cmt-box { float: none; margin: 15 0 0 320px; }

/*pagenation CSS*/

.qc-pageniation { float: left; width: 100%; margin: 20px 0 0 0; }

.qc-pageniation-total-page { float: left; margin:  0 0 0 10px; font-weight: bold; font-size: 12px; }

.qc-pageniation-list { float: right; margin:  0 10px 0 0; font-size:12px; }

.qc-pageniation-list a { margin-left:5px; }

.qc-pageniation-list a.first-page { background:url(../images/first-arrow.png) no-repeat; display: inline-block; width: 20px; height: 11px; }

.qc-pageniation-list a.pre-page { background:url(../images/previous-arrow.png) no-repeat; display: inline-block; width: 11px; height: 11px; }

.qc-pageniation-list a.nxt-page { background:url(../images/nxt-arrow.png) no-repeat; display: inline-block; width: 11px; height: 11px; }

.qc-pageniation-list a.last-page { background:url(../images/last-arrow.png) no-repeat; display: inline-block; width: 20px; height: 11px; }

input:focus { outline:none; }

.video-user-pic { margin: 10px 0 0 0; display: inline-block; vertical-align: middle; }

.name-date strong { margin: 14px 0 0 10px; display: inline-block; vertical-align: middle; }

.admin-icon { background:url(../images/left-pan-icon.png) no-repeat; background-position: 20px -207px;}

.report-icon { background:url(../images/left-pan-icon.png) no-repeat; background-position: 20px -165px;}

.seting-icon { background:url(../images/left-pan-icon.png) no-repeat; background-position: 20px -124px;}

.srch-icon { background:url(../images/left-pan-icon.png) no-repeat; background-position: 20px -78px;}

.org-icon { background:url(../images/left-pan-icon.png) no-repeat; background-position: 20px -31px;}

.dashbord-icon { background:url(../images/left-pan-icon.png) no-repeat; background-position: 19px 10px;}

.lf-srch-btn { float:left; clear:both; padding:  0 0 0 16px; margin: 10px 0;}

.lf-srch-btn a { background:#f15b29; padding:5px 10px; color: #fff; font-size: 14px;}